<div class="contact">
	<h2>Contact Us</h2>
	<div class="person">
		<h4>Dr. Sarath Chandra Janga</h4>
		<address>
			School of Informatics and Computing<br>
			Walker Plaza Building<br>
			719 Indiana Ave Ste 319,<br>
			Indianapolis, Indiana 46202, USA
		</address>
		<p>Email: <a href="mailto:scjanga@iupui.edu">scjanga@iupui.edu</a></p>
	</div>
	<div class="person">
		<h4>Dr. Kashish Chetal</h4>
		<address>
			School of Informatics and Computing<br>
			IUPUI, Indianapolis, Indiana 46202, USA
		</address>
		<p>Email: <a href="mailto:kchetal@iupui.edu">kchetal@iupui.edu</a></p>
	</div>
</div>