<div class="gene-view" ng-controller="GeneCtrl">
  <h2>{{ title | titlize }}<button ng-click="showBrowse()">{{ browse ? "Go back" : "View in jBrowse"}}</button></h2>
  <table class="gene-data" ng-hide="browse">
    <thead>
      <tr>
        <th>Start</th>
        <th>Stop</th>
        <th>Strand</th>
        <th>Number of genes</th>
        <th>Genes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data">
        <td width="20%" ng-bind="item.start"></td>
        <td width="20%" ng-bind="item.stop"></td>
        <td width="20%" ng-bind="item.strand"></td>
        <td width="20%" ng-bind="item.number"></td>
        <td width="20%" ng-bind="item.list"></td>
      </tr>
    </tbody>
  </table>
  <div class="browse" ng-show="browse">
    <iframe ng-src="{{ path }}" frameborder="0"></iframe>
  </div>
</div>