<h2>{{message}}</h2>
<div class="information">
	<p>Bacterial Operon Database consists of various bacterial genomes. In this database we have collected datasets for different bacterial genomes from their RNA-seq datasets. The operon predictions for these datasets are different from the normal operon predictions for various bacterial organisms. Many new operons have also been predicted from the RNA-seq datasets.</p>
	<p>In this database you can browse through the reference genome sequence and then the various genes present in the particular genome. For the operons, user can go through the whole list of the Operons available for genome. And we have also included the RNA-seq dataset ids for all the organisms, so that the user can also look for the particular RNA-seq dataset used in generating the operons table.</p>
</div>
<!-- <a href="#">{{ data }}</a> -->